<!doctype html>
<html>
  <head>
    <title>Buy Jordan Stuff!</title>
  </head>
<body>

<h1>Buy Jordan Stuff!</h1>

<% @wishlist.each do |item| %>
  <h2>
    <a href="<%= item.href %>">
      <%= item.description %>
    </a>
  </h2>
<% end %>

</body>
</html>

