<!doctype html>
<html>
  <head>
    <title>Buy Jordan Stuff!</title>

    <script type="text/javascript" src="//use.typekit.net/nsy6tur.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <style>
    body {
      font-family: "futura-pt", sans-serif;
      background: #eee;
    }

    h1 {
      margin-top: 0;
      font-size: 3em;
      text-transform: uppercase;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none;
      padding: 10px 0;
      font-size: 1.4em;
    }

    a {
      color: #c00;
    }

    a:hover {
      background: #c00;
      color: #fff;
    }

    #content {
      width: 80%;
      margin: 0 auto;
      padding: 30px;
      background: #fff;
    }
    </style>
  </head>
<body>

<div id="content">

  <h1>Wishlist</h1>

  <ul>

  <% @wishlist.each do |item| %>
    <li>
      <a href="<%= item.href %>">
        <%= item.description %>
      </a>
    </li>
  <% end %>

  </ul>

</div>

</body>
</html>

